.box {
  font-size: 50px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  color: white;
  flex-basis: 150px;
}

.box-1 {
  background-color: #f94144;
}
.box-2 {
  background-color: #f3722c;
}
.box-3 {
  background-color: #f8961e;
}
.box-4 {
  background-color: #f9c74f;
}
.box-5 {
  background-color: #90be6d;
}

.box-6 {
  background-color: #43aa8b;
}

.box-7 {
  background-color: #577590;
  /* align-self: stretch; */
  /* flex-grow: 1; */
  /* flex-shrink: 0; */
}
.box-8 {
  background-color: rebeccapurple;
  /* align-self: flex-end; */
  /* flex-grow: 1; */
  /* order: -2; */
}

.box-9 {
  background-color: gray;
  /* flex-grow: 1; */
  /* order: -1; */
  /* flex-basis: 0; */

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px;

  /* Three values: flex-grow | flex-shrink | flex-basis */
  flex: 10 1 200px;
}

/* Our Flex Container */
.container {
  border: 8px solid black;
  height: 80vh;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  /*Space between items on Main Axis */
  justify-content: center;

  /*Space between/around items on Cross Axis */
  align-items: center;

  /* align-content: center; */
}
